body {
	font-weight: 400;
	font-size: 95%;
	line-height: 1.15em;
	background-color: @body-bg;
}

.wrap {
	display: block;
	max-width: 960px;
	margin: 0 auto;
}

#calculator {
	padding: 24px;
}

table {
	width: 100%;
	margin: 12px 0;

	tr {
		td {
			padding: 4px;
			min-width: 12%;
			border-bottom: 1px solid #eee;

			&:first-child {
				width: 40%;
				font-weight: bold;
			}
		}
	}
	input {
		width: 4em;
	}
}

input,
select {
	padding: 2px 4px;
	border: 1px solid #ccc;
	.border-radius(3px);

	&[readonly] {
		background: #eee;
		color: #555;
	}
}
select {
	display: inline-block;
	border: 1px solid #999;
}
button {
	padding: 8px 12px;
	background: @success;
	color: white;
	border: 0;
	.border-radius(4px);
}

td small {
	display: block;
	font-size: 11px;
}
