body {
	font-weight: 400;
	font-size: 95%;
	line-height: 1.15em;
	background-color: @body-bg;
}

.wrap {
	display: block;
	max-width: 960px;
	margin: 0 auto;
}

#calculator {
	padding: 24px;
}

.cabins {
	.cabin {
		border: 1px solid #eee;
		border-bottom: 1px solid @primary;
		margin-bottom: 12px;
		.border-radius(4px);
		overflow: hidden;

		&.cabin-model {
			display: none;
		}

		.header {
			padding: 8px;
			background: @primary;
			color: #fff;

			.days {
				width: 2em;
				text-align: center;
			}

			.cabin-name {
				display: inline-block;
				width: 120px;
				font-weight: bold;
			}

			.cabin-remove {
				float: right;
				color: #ccc;
				&:hover {
					color: red;
				}
			}
		}

		.guests {
			margin: 4px 0;
			padding: 8px;

			.guest {
				border-top: 1px dashed #ddd;
				padding: 4px 0;

				&:nth-child(2) {
					border-top: 0;
				}

				.guest-name {
					display: inline-block;
					width: 120px;
				}

				.guest-remove {
					float: right;
					color: #ccc;
				}
				&:hover .guest-remove {
					color: red;
				}

				&.guest-model {
					display: none;
				}
			}
		}

		.control {
			background: #eee;
			padding: 8px;
			text-align: right;
		}
	}
}

.cabins-control {
	text-align: center;
	padding: 8px 0;

	.ext {
		padding: 8px 0;
		font-size: .9em;
		color: #555;

		b {
			color: @primary;
			font-weight: bold;
		}
	}
}

.checkout {
	border: 1px solid #eee;
	border-bottom: 2px solid @primary;
	margin-top: 12px;
	.border-radius(4px);
	background: #eee;
	padding: 8px;
	overflow: hidden;

	.price-total {
		float: right;
		font-weight: bold;
		color: @primary;
	}
}

input,
select {
	padding: 2px 4px;
	border: 0;
	.border-radius(3px);
}
select {
	display: inline-block;
	border: 1px solid #999;
}
button {
	padding: 8px 12px;
	background: @success;
	color: white;
	border: 0;
	.border-radius(4px);
}
