/*=============================
=            Fonts            =
=============================*/


/*=============================
=            Icons            =
=============================*/
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?7fpn3e');
	src:url('fonts/icomoon.eot?#iefix7fpn3e') format('embedded-opentype'),
		url('fonts/icomoon.woff?7fpn3e') format('woff'),
		url('fonts/icomoon.ttf?7fpn3e') format('truetype'),
		url('fonts/icomoon.svg?7fpn3e#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body, p, span, input, textarea, select {
	font-family: 'Helvetica', 'Helvetica Neue', 'Tahoma', 'Arial', sans-serif;
}

p {
	margin-bottom: .65em;
	line-height: 1.15em;
}

h1, h2, h3 {
	font-weight: 700;
	line-height: 1em;
	margin-bottom: .25em;

	& + & {
		margin-top: .95em;
	}

	p + & {
		margin-top: .65em;
	}
}

h1 {
	font-size: 1.95em;
}
h2 {
	font-size: 1.65em;
}
h3 {
	font-size: 1.25em;
}

i[class^="icon-"], i[class*=" icon-"], .like-icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: middle;
}

i, .like-icon, button {
	&.icon-user:before {
		content: "\f007";
	}
	&.icon-times:before {
		content: "\f00d";
	}
	&.icon-align-left:before {
		content: "\f036";
	}
	&.icon-photo:before {
		content: "\f03e";
	}
	&.icon-plus:before {
		content: "\f067";
	}
	&.icon-sign-in:before {
		content: "\f090";
	}
	&.icon-navicon:before {
		content: "\f0c9";
	}
	&.icon-youtube:before {
		content: "\f167";
	}
}